[Desktop Entry]
Type=Application
Name=GpgFrontend
Comment=A Cross-Platform OpenPGP Frontend Software
Exec=GpgFrontend
Icon=gpgfrontend-appimage-icon
Categories=Utility;
