[submodule "third_party/gpgme"]
	path = third_party/gpgme
	url = https://github.com/saturneric/gpgme
[submodule "third_party/libassuan"]
	path = third_party/libassuan
	url = https://github.com/saturneric/libassuan
[submodule "third_party/libgpg-error"]
	path = third_party/libgpg-error
	url = https://github.com/saturneric/libgpg-error
[submodule "third_party/vmime"]
	path = third_party/vmime
	url = https://github.com/saturneric/vmime
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/saturneric/json
[submodule "third_party/easyloggingpp"]
	path = third_party/easyloggingpp
	url = https://github.com/saturneric/easyloggingpp
[submodule "third_party/qt-aes"]
	path = third_party/qt-aes
	url = https://github.com/saturneric/Qt-AES
[submodule "third_party/smtp-mime"]
	path = third_party/smtp-mime
	url = https://github.com/saturneric/SmtpClient-for-Qt
