[Desktop Entry]
Type=Application
Name=Gpg Frontend
Exec=gpgfrontend
Icon=com.bktus.gpgfrontend
Comment=Encrypt and sign data
Terminal=false
Categories=Utility;