[Desktop Entry]
Type=Application
Name=GpgFrontend
Exec=GpgFrontend
Icon=com.bktus.gpgfrontend
Comment=Encrypt and sign data
Terminal=false
Categories=Utility;